.order-item {
  border: 1px solid #f3f3f6;
}
.emoji {
  font-size: 16px;
}
.emoji-icon {
  width: 16px;
  height: 16px;
}
.user-reaction-item {
  width: 55px;
  height: 34px;
  border-radius: 23px;
  border: 1px solid #e0e0e0;
  background-color: #edf5ff;
  margin-right: 8px;
  padding-top: 4px;
  font-weight: 500;
  font-size: 16px;
}
.user-reacted {
  border-color: #0f62fe;
}
.emoji-chooser {
  height: 32px;
  width: 32px;
  border: 1px solid #e0e0e0;
  padding: 6px;
  margin-left: 3px;
  border-radius: 50%;
  cursor: pointer;
}
.emoji-popup {
  top: -39px;
  left: -73px;
  padding: 5px 20px;
  height: 32px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.emoji-popup .emoji-popup-item:not(:last-child) {
  margin-right: 16px;
}
.emoji-popup-item .emoji {
  cursor: pointer;
  transition: all 0.15s ease-in;
}
.emoji-popup-item:hover .emoji {
  transform: scale(2) translate(0%, -17%);
  /* transform: scale(1.35) translateY(-28%);
  transition: transform 0.2s; */
}

/* Tooltip CSS */
.tooltip-container {
  position: relative;
}
.tooltip-box {
  position: absolute;
  background-color: #161616;
  font-size: 12px;
  color: #fff;
  padding: 12px 16px;
  border-radius: 2px;
  bottom: calc(100% + 17px);
  left: -25px;
  display: none;
}
.tooltip-box.visible {
  display: block;
}
.tooltip-arrow {
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}
